.light-mode {
    --background: #F2F3F5;
    --aside-color: #835afd;
    --aside-color-text: #29292e;
    --paragraph-color: #737380;
    --button-color-background: #835afd;
    --button-color-text: #29292e;
    --color-link-href: #e559f9;
    --button-question: #e559f9;
    --background-button-room: #aeaed9;
    --paragraph-button-room: #ffff;
    --color-background-button-google: #ea4335;
    --color-button-google: #fff;
    --icon-google-button: 



}

.dark-mode {
    --background: #4b4848;
    --aside-color: #341575;
    --aside-color-text: #f8f8f8;
    --paragraph-color: #ebedef;
    --button-color-background: #341575;
    --button-color-text: #fff;
    --color-link-href: #59f962;
    --button-question: #8f329c;
    --background-button-room: #f8f8f8;
    --paragraph-button-room: #29292e;
    --color-background-button-google: #fff;
    --color-button-google: black;
    --icon-google-button: 


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: #29292e;
}



body,
input,
button,
textarea {
    font: 400 16px 'Roboto', sans-serif;
}